body {
    min-height: 1200px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 800px;
    background-color: aquamarine;
    gap: 10px;
}

.nome2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 180px;
    width: 700px;
    background-color: burlywood;
    border: 2px solid black;
}

.nome3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 180px;
    width: 700px;
    background-color: chartreuse;
    border: 2px solid black;
}

.nome4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 180px;
    width: 700px;
    background-color: cadetblue;
    border: 2px solid black;
}

.nome5 {
    height: 80px;
    width: 90px;
    background-color: coral;
    border: 2px solid black;
    
}