*{
    margin: 0;
    padding: 0;
}
header, footer {
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: beige;
    height: 100px;
    box-shadow: 5px 0px 5px 0 black;
}
main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 650px;
    margin: 50px;
    width: auto;
    height: 500px;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 1px 2px 2px 0 gray;
    gap: 30px;
}   

input {
    height: 60px;
    width:  400px;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    box-shadow: 1px 2px 2px 0 gray;
}
